/* password-details.component.css */

/* Container for password details */
.password-details-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Title */
  .password-details-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; /* Dark gray */
  }
  
  /* Password detail items */
  .password-detail-item {
    margin-bottom: 5px;
  }
  
  /* Label for password details */
  .password-detail-label {
    font-weight: bold;
    color: #666; /* Medium gray */
  }
  
  /* Value for password details */
  .password-detail-value {
    margin-left: 10px;
    color: #333; /* Dark gray */
  }
  