<!-- <p>Password details</p>

<diV>Category : {{ password?.category}}</diV>
<diV>APP Name : {{ password?.app}}</diV>
<diV>User Name : {{ password?.userName}}</diV>
<diV>Encrypted Password : {{ password?.encryptedPassword}}</diV> -->

<!-- password-details.component.html -->

<div class="password-details-container">
    <p class="password-details-title">Password details</p>
  
    <div class="password-detail-item">
      <span class="password-detail-label">Category:</span>
      <span class="password-detail-value">{{ password?.category }}</span>
    </div>
  
    <div class="password-detail-item">
      <span class="password-detail-label">APP Name:</span>
      <span class="password-detail-value">{{ password?.app }}</span>
    </div>
  
    <div class="password-detail-item">
      <span class="password-detail-label">User Name:</span>
      <span class="password-detail-value">{{ password?.userName }}</span>
    </div>
  
    <div class="password-detail-item">
      <span class="password-detail-label">Encrypted Password:</span>
      <span class="password-detail-value">{{ password?.encryptedPassword }}</span>
    </div>
  </div>
  