<!-- <h2>Password List</h2>
<table>
  <tr><th>Category</th><th>App</th><th>User Name</th><th>Password</th></tr>
  <ng-container *ngFor="let password of passwords">
    <tr>
      <td>{{ password.category }}</td>
      <td>{{ password.app }}</td>
      <td>{{ password.userName }}</td>
      <td>{{ password.encryptedPassword }}</td>
      <td><button (click)="goToDetails(password.id)">Go to Details</button></td>
      <td><button (click)="goToEditDetails(password.id)">Edit</button></td>
      <td><button (click)="deleteRecord(password.id)">Delete</button></td>
    </tr>
  </ng-container>

</table> -->

<!-- password-list.component.html -->

<div class="password-list-container">
  <h2 class="password-list-title">Password List</h2>
  <table class="password-table">
    <tr>
      <th>Category</th>
      <th>App</th>
      <th>User Name</th>
      <th>Password</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <ng-container *ngFor="let password of passwords">
      <tr>
        <td>{{ password.category }}</td>
        <td>{{ password.app }}</td>
        <td>{{ password.userName }}</td>
        <td>{{ password.encryptedPassword }}</td>
        <td><button (click)="goToDetails(password.id)" class="password-button">Go to Details</button></td>
        <td><button (click)="goToEditDetails(password.id)" class="password-button">Edit</button></td>
        <td><button (click)="deleteRecord(password.id)" class="password-button">Delete</button></td>
      </tr>
    </ng-container>
  </table>
</div>
