<h2>Password List</h2>
<!-- <ul>
  <li *ngFor="let password of passwords">
    <strong>Category:</strong> {{ password.category }}, 
    <strong>App:</strong> {{ password.app }}, 
    <strong>User Name:</strong> {{ password.userName }}
  </li>
</ul> -->

<table>
  <tr><th>Category</th><th>App</th><th>User Name</th><th>Password</th></tr>
  <ng-container *ngFor="let password of passwords">
    <tr>
      <td>{{ password.category }}</td>
      <td>{{ password.app }}</td>
      <td>{{ password.userName }}</td>
      <td>{{ password.encryptedPassword }}</td>
      <td><button (click)="goToDetails(password.id)">Go to Details</button></td>
      <td><button (click)="goToEditDetails(password.id)">Edit</button></td>
      <td><button (click)="deleteRecord(password.id)">Delete</button></td>
    </tr>
  </ng-container>

</table>
