<div [formGroup]="passwordForm">
  <div>
    <input type="text" formControlName="category" placeholder="Category"/>
    <div *ngIf="passwordForm.get('category')?.errors&&(passwordForm.get('category')?.dirty||passwordForm.get('category')?.touched)">
        Category is required!
    </div>
</div>
  <div><input type="text" formControlName="app" placeholder="app"/>
    <div *ngIf="passwordForm.get('app')?.errors&&(passwordForm.get('app')?.dirty||passwordForm.get('app')?.touched)">
        App name is required!
    </div></div>
  <div><input type="text" formControlName="userName" placeholder="userName" />
    <div *ngIf="passwordForm.get('userName')?.errors&&(passwordForm.get('userName')?.dirty||passwordForm.get('userName')?.touched)">
        User name is required!
    </div></div>
  <div><input type="text" formControlName="encryptedPassword" placeholder="Password"/>
    <div *ngIf="passwordForm.get('encryptedPassword')?.errors&&(passwordForm.get('encryptedPassword')?.dirty||passwordForm.get('encryptedPassword')?.touched)">
        Password is required!
    </div></div>

  <button (click)="onSubmit()">{{id?'Edit':'Add'}} Password</button>
</div>
